<div class="header">
  Share your configuration!
</div>
<div class="twitter-share">
  <a href="https://twitter.com/intent/tweet?text=Check%20out%20my%20bracket%20at%20ExpandThePlayoff.com!%20https://www.expandtheplayoff.com">
    <img src="assets/Twitter_Social_Icon_Rounded_Square_Color.png" alt="" width="40px">
  </a>
</div>
<div class="facebook-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u=expandtheplayoff.com">
    <img src="assets/f-ogo_RGB_HEX-100.png" alt="" width="40px">
  </a>
</div>
