.header {
  font-family: Bitter, serif;
  color: #FFFFFF;
  font-size: small;
  width: 100%;
  text-align: center;
  margin: 5px;
}

.twitter-share {
  width: 50%;
}

.facebook-share {
  width: 50%;
}
