<div class="left">
  <app-team-card [teamname]="'Alabama'" class=""></app-team-card>
  <app-team-card [teamname]="'Buffalo'" class=""></app-team-card>
  <app-team-card [teamname]="'Oklahoma'" class=""></app-team-card>
  <app-team-card [teamname]="'Florida'" class=""></app-team-card>
  <app-team-card [teamname]="'LSU'" class=""></app-team-card>
  <app-team-card [teamname]="'App State'" class=""></app-team-card>
  <app-team-card [teamname]="'Michigan'" class=""></app-team-card>
  <app-team-card [teamname]="'Washington State'" class=""></app-team-card>
</div>

<div class="right">
  <app-team-card [teamname]="'Clemson'" class=""></app-team-card>
  <app-team-card [teamname]="'UAB'" class=""></app-team-card>
  <app-team-card [teamname]="'Georgia'" class=""></app-team-card>
  <app-team-card [teamname]="'UCF'" class=""></app-team-card>
  <app-team-card [teamname]="'Notre Dame'" class=""></app-team-card>
  <app-team-card [teamname]="'Utah State'" class=""></app-team-card>
  <app-team-card [teamname]="'Texas'" class=""></app-team-card>
  <app-team-card [teamname]="'Ohio State'" class=""></app-team-card>
</div>

